:root{
    --header-height: 10vh;
    --button-color: #1E3A8A;
    --active-menu-option: #3B4F7D;
    font-size: 24px;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #E6F0FF;
    margin: 0;
    padding: 0;
    height: 100vh;
    

    
}
.site-header {
    position: fixed;
    width: 100%;
    font-family: 'Krona One', sans-serif;
    background-color: #FFFFFF;  
    top: 0;
    z-index: 1001; 
    height: var(--header-height);

}
.header-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 0.5em;
}
.logo-portal-name-section{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.logo-section {
    display: flex;
    align-items: center;
    height: 100%;
}
#logo{
    padding: 0 0 5px 5px;
    width: 70px;
    height: 70px; 
    cursor:pointer;
}
#burger-menu{
    display: none;
}
.portal-name{
    font-size:1.5rem;
    letter-spacing: 0.05em;
    color: #000000;
    cursor: pointer;
}

.menu-section{

    display: flex;
    justify-content: center;


}
#mobile-menu{
    display: none;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    padding: 1em;
    list-style: none;
    border-top: 1px solid #E6F0FF;
}
.menu{
    color: #16213D;
    font-size: 0.9rem;
    display: flex;
    list-style: none;
    gap:7vw;
    padding-left: 0;
    
}
.menu li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.menu-item-active{
    color: var(--active-menu-option);
}


.profile-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.profile-image{


    display:flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #F3F3F3;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}
#question{
    width:22px;
}
.profile-name{
    cursor: pointer;
    font-size: 0.8rem;
    font-family: 'JejuGothic', sans-serif;
    letter-spacing: 2px;
}
main{
    height: 100vh;
    font-family: 'JejuGothic',sans-serif;
    cursor: default;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 7fr 23fr 50fr;

    gap: 1em;
    padding: calc(var(--header-height) + 1em) 1.5em 1.5em 1.5em;

}
#buttons{
    display: flex;
    gap: 1em;

}
button{
    border-radius: 20px;
    border: 0;
    background-color: var(--button-color);
    color: #FFFFFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    font-size: 1.2em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    font-family: 'JejuGothic',sans-serif;
    height: 2.3em;
    letter-spacing: 0.05em;
}
.icon-add-remove{
    width: 40px;
    height: 40px;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.grid-container{
    display: flex;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 100%;
    height:100%;
    justify-self: center;
    align-self: center;
    padding: 1em;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}
#driver-summary{
    grid-column-start: 1;
    justify-content: center;
}
#driver-list{
    grid-column-start: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-width:max-content;
    padding: 1em;
}
#driver-list::-webkit-scrollbar {
    width: 0px; 
  }

#driver-information{
    grid-column-start: 2;
    grid-row-start:1;
    grid-row-end: span 3;
    padding: 1em 0 1em 0;
}
.inside-grid-container{
    padding: 0.2em 1em 0.2em 1em;
    border-radius: 20px;
    border: 2px solid #1E3A8A;
    width: 100%;
    font-size: clamp(0.7rem, 1vw + 0.5rem, 1rem);
    min-height: max-content;

}
#inside-grid-container-driver-summary{
    height: 85%;
    align-self: center;
    height: max-content;
}
p{
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
    margin: 0;
}
.data-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}
.drivers-data-labels, 
.drivers-data-values{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    
}
.label{
    display: flex;
    align-items: center;
    gap: 0.7em;
    
}
.status-dot{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
}
.available{
    background-color: #02B102;
}
.on-the-road{
    background-color: #FB0202;
}
.on-leave{
    background-color: #000000;
}
h1{
    font-size: 1.3em;
    max-width: max-content;
    max-height: max-content;
    margin: 0;
    font-weight: 300;

}

#drivers-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85em;
    
  }
  
  #drivers-table th, #drivers-table td {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  #drivers-table tbody{
    font-size: 0.8em;
  }
  
  .status-dot-table {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .status-green { background-color: #02B102; }
  .status-red { background-color: #FB0202; }
  .status-black { background-color: #000000; }


  #inside-grid-container-driver-list{
    min-width: max-content;
}

#driver-information{
    padding: 1em;
    min-height: max-content;
}
#inside-grid-container-driver-information{
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: max-content;
    justify-content: space-between;
}
#driver-information-data-labels-values-image{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.driver-information-data-labels-values{
    display: flex;
    flex-direction:column;
    font-size: 0.8em;
    height: max-content;
    gap: 0.5em;
    white-space: nowrap;
}
#driver-information-data-values{
    align-items: center;
}
#driver-picture{
    width: 221px;
    height: auto;
}
#driver-image{
    height: max-content;
    width: max-content;
    padding: 0;
    overflow: hidden;
}
.report-container{
    padding: 0.5em;
    border-radius: 20px;
    border: 2px solid #1E3A8A;
    height: 30vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    gap: 0.5em;
}
.report{
    align-self: start;
    margin-left: 0.2em;
}
#information-buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
}
.information-button{
    font-size: 0.9em;
    min-width: max-content;
}
.download-icon{
    width: 40px;
    height: 40px;
}
#driver-current-state{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.validity-date{
    font-size: 0.7em;
}
a {
    
    text-decoration: none;  
}
a:visited{
    color: inherit;
}

@media (max-width: 1366px){
    .portal-name{
        display: none;
    }
    li{
        font-size: 0.8em;
    }
    .menu{
        gap: 3vw;
    }
}

@media (max-width: 768px){
    .portal-name{
        display: none;
    }
    .menu-section{
        display: none;
    }
    #logo{
        display: none;
    }
    #burger-menu {
        display: block;
        width: 2em;
        height: auto;
        cursor: pointer;
        position: relative;
        z-index: 1002; 
    }
    .mobile-menu-container {
        font-family: 'Krona One', sans-serif;
        font-size: 1rem;
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 60vw;
        transform: translateX(-100%);
        height: calc(100vh - var(--header-height));
        background-color: #FFFFFF;
        color: white;
        transition:  transform 0.3s ease;
        z-index: 1000;
    }
    .mobile-menu-container.active {
        transform: translateX(0);
    }

    body.menu-open {
        overflow: hidden;
    }
    #mobile-menu{
        display: flex;
        flex-direction: column;
        gap: 2em;
        list-style: none;
        padding: 1em;
        border: 0;
    }
    .mobile-menu-item-active{
        color: var(--active-menu-option);
    }
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1em;
        height: max-content;
        font-size: 15px;
    }
 
    #buttons{
        flex-direction: column;
    }
    button{
        width: 100%;
        height: 3em;
    }

    h1{
        font-size: 1.2em;
    }
    p{
        font-size:1em;
    }

    #driver-information{
        grid-column-start: 1;
        grid-row-start: 4;
        min-width: 0;
    }

    #driver-information-data-labels-values-image{
        flex-wrap:wrap;
        justify-content: center;
    }
    #driver-image{

        order: -1;
        margin-bottom: 1em;
    }
    #driver-information-data-labels{
        width: 50%;
    }
    #driver-information-data-values{
        width: 50%;
    }
    #inside-grid-container-driver-information{
        gap: 1em;
        min-width: 0;
    }

    #information-buttons{
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .report-container{
        width: 100%;
    }
    #driver-picture{
        width: 280px;
        height: auto;
    }
    .icon-add-remove,
    .download-icon{
        width: 30px;
        height: auto;
    }
}